@font-face {
    font-family: 'zpix';
    src: url(fonts/zpix.ttf);
}
   * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
body {
    background-color: black;
    animation: ease-in 5s;
    color: white;
    text-align: center;
   
}
.doomed-text {
    color: #390e33;
    font-family: 'zpix';
    text-align: left;
    font-size: 14px;
    pointer-events: none;
}
.img {
    position: absolute;
    font: 14px zpix;
    right: 0.10rem;
    bottom: 0.15rem;
    opacity: 0.50;
    z-index: 0;
    pointer-events: none;
}
.landing-page {
    color: white;
    background: black;
    min-height: screen;
}
a {
    color: white;
    size: 14px zpix;
    text-decoration: none;
    pointer-events: all;
}
a:hover {
    color: #390e33;
}
.other {
    color: white;
    font-family: 'zpix';
    text-align: left;
    font-size: 14px;
    pointer-events: fill;
}
.other:hover {
    color: #390e33;
}
.profile-text {
    text-align: center;
    color: #390e33;
    pointer-events: fill;
}
.pfp {
    width: 110px;
    height: auto;
    border-radius: 50%;
    margin-left: 20px;
}
.box-brrr {
    width: calc(47% - 10px);
    border-radius: 2px;
    background-color: transparent;
    padding: 20px;
    display: block;
    box-sizing: border-box;
    margin: 0 5px; 
}
.box-contain {
    display: flex;
    margin-top: 1em;
    width: 500px;
    text-align: center;
    justify-content: center;
}
  @media (max-width: 600px) {
    html, body {
        overflow-x: hidden;
    }
    .intial-container {
        margin-top: 1200px;

    }
    .box-contain {
        flex-direction: column;
        align-items: center;
    }
    .box-brrr {
        max-width: 400px;
    }
    .box-brrr2 {
        max-width: 400px;
    }
}
pre {
    font-family: sans-serif;
}
.social {
    height: 35px;
    background-color: #000000;
    transition: transform 0.5s ease;
}
.social:hover {
    transform: scale(1.2);
    color: white;
}
.top {
    position: absolute;
    color: white;
    font-family: 'zpix';
    bottom: 1rem;
    right: 0rem;
    left: 0rem;
    font-size: 14px;
    pointer-events: none;
}
  ::selection {
    background-color: white;
    color: #390e33;
  }
.back {
    position: absolute;
    color: white;
    size: 14px zpix;
    text-decoration: none;
    pointer-events: all;
    bottom: 1rem;
    right: 0rem;
    left: 0rem;
}
.back:hover {
    color: #390e33;
}